body{
  box-sizing: border-box;
  background: #F2F5F7;
  font-feature-settings: "palt";
  font-size: 32px;
  overflow: hidden;
}

header{
  width: 100vw;
  height: 2em;
  background-color: #252525;
}
header h1.logo{
  height: 100%;
  width: 8em;
  margin: 0 .5%;
}
header h1.logo a{
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(../assets/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.body_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 60px);
  font-size: 16px;
}

main.massage_area{
  display: block;
  background-color: white;
  margin: .5em;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
}
main.massage_area h2{
  font-size: 24px;
  font-weight: bold;
  margin: 1em 2em;
}
main.massage_area p,
main.massage_area a{
  display: block;
  font-size: 18px;
  margin: 1em 2em;
}
main.massage_area a{
  color: #0080ff;
  text-decoration: underline;
}
main.massage_area a:hover{
  text-decoration: none;
}
main.massage_area div.error_icon{
  height: 150px;
  background-image: url(../assets/alicia_ng.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;
}